<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Reader</title>
    <link rel="stylesheet" href="static/css/styles.css"> <!-- Connecting a style file -->
</head>

<body>
    <header>
        <h1>Chat Reader</h1>
    </header>

    <div class="container">
        <div class="user-list" id="userList">
            <!-- The user names will be displayed here -->
        </div>
        <div class="chat-container">
            <div id="chatColumns" class="chat-columns">
                <!-- The chat will be displayed here -->
            </div>
            <div class="input-box">
                <button id="fetchDataBtn">Load Data</button> <!-- Button to load data -->
            </div>
        </div>
    </div>

    <script src="static/js/script.js"></script> <!-- Connecting the script file -->
</body>

</html>